.btn {
  display: inline-block;
  width: 100%;   
  padding: 20px 0;
  color: #444444;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.btn a {
  display: block;
  color: #444444;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}