.btn {
  .font(@size:17px;);
  display: inline-block;
  width: 100%;   
  padding: 20px 0;
  color: #444444;
//  font-size: 17px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}
.btn a {
  .font(@size:17px;);
  display: block;
  color: #444444;
//  font-size: 17px;
  text-decoration: none;
}