.featured {
  margin: 0 30px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}
.featured__title {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}
.featured__action-title {
  padding-top: 0;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}
.featured__description {
  margin-top: 0;
  margin-bottom: 17px;
}
.featured__properties-table {
  margin-bottom: 28px;
  display: table;

}
.featured__properties-row {
  display: table-row;
}
.featured__properties-cell {
  display: table-cell;
  padding: 13px 0;
  border-bottom: 1px solid #e5e5e5;
}
.featured__properties-cell--left {
  width: 42%;
}
.featured__price {
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

