.main-nav__list {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list--user {
  top: 236px;
}
.main-nav__item a {
  .boldfont();
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}