.center-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  opacity: 0.8;

  @media @tablet-widths {
    width: 768px;
    padding: 0 50px;
  }

  @media @desktop-widths {
    width: 1150px;
    padding: 0 50px;
  }
}
.hidden {
  display: none;
}
