.order-form {
  padding: 30px;
  color: #444444;
  font-family: "OpenSans", "Arial", serif;
}
.order-form__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.order-form__form {
  padding: 0;
  border: none;
}
.order-form__category {
  margin-bottom: 27px;
  padding: 0;
  border: none;
  border-top: 1px solid #63d1bb;
}
.order-form__category-name {
  margin-bottom: 23px;
  padding-right: 27px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
.order-form__section-field,
.order-form__color-field {
  display: none;
}
.order-form__section-label,
.order-form__color-label {
  display: block;
  padding: 12px;
  padding-left: 65px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.order-form__name-label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.order-form__name-field,
.order-form__telephon-field,
.order-form__email-field {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 15px 0;
  font-family: "OpenSans", "Arial", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
}
.order-form__description-field {
  display: block;
  width: 86%;
  margin: 0;
  padding: 17px;
  font-family: "OpenSans", "Arial", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border: 2px solid #000000;
}
.order-form__note {
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 22px;
  padding: 0;
  font-family: "OpenSans", "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #444444;
}
.order-form__btn {
  margin-bottom: 30px;
}
