.review {
  .font(@height:30px);
//  font-family: "OpenSans", "Arial", serif;
//  font-size: 15px;
//  line-height: 30px;
//  font-weight: 400;
  color: @text-basecolor;
}
.review__name {
  .font(@bold;18px;);
//  font-family: "OpenSansBold", "Arial", serif;
//  font-size: 18px;
//  line-height: 24px;
//  font-weight: 700;
  color: @text-color;
}
.review__email {
  .font(@size:18px;@height:30px);
//  font-size: 18px;
//  line-height: 30px;
//  font-weight: 400;
}
@media @tablet-widths {
  .review__author {
    display: block;
    width: 45%;
    margin-top: 57px;
    padding-top: 1px;
  }
}
