.top-menu {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 22px 0;
  border-bottom: 1px solid @delimiter-color;
  background: @bg-basecolor;
  &:hover .top-menu__nav {
    display: block;
  }
}
.top-menu__logo {
  height: 35px;
  box-sizing: border-box;
}
.top-menu__nav {
  display: none;
  margin: 0;
  padding: 0;
}
.top-menu__btn {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 20px;
  height: 55px;//заменить на 20px после подключения js
  color: @text-color;
  background: @bg-basecolor url("../img/icon-menu-open.svg") no-repeat top center;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media @tablet-widths {
  .top-menu__btn {
    display: none;
  }
  .top-menu {
    justify-content: space-between;
    padding: 25px 50px 25px;
  }
  .top-menu__logo {
    magin-left: 50px;
  }
  .top-menu__nav {
    display: block;
  }
}
@media @desktop-widths {
  .top-menu__logo {
    margin-left: 47%;
  }
}

