.top-menu {
  position: relative;
  margin: 0;
  padding: 22px 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #ffffff;
  &:hover .top-menu__nav {
    display: block;
  }
}
.top-menu__logo {
  height: 35px;
  box-sizing: border-box;
}
.top-menu__nav {
  display: none;
  margin: 0;
  padding: 0;
}
.top-menu__btn {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 20px;
  height: 20px;
  color: #000000;
  background: #ffffff url("../img/icon-menu-open.svg") no-repeat top center;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer;
}