.video-block {
  margin: 30px;
  padding: 30px 34px;
  border: 1px solid #e5e5e5;
}
.video-block__title {
  .font(@bold;17px;);
  margin: 0;
  margin-bottom: 23px;
  padding-left: 58px;
//  font-size: 17px;
//  line-height: 24px;
  color: #000000;
}
.video-block__video {
  margin-left: -34px;
  background: #e5e5e5 url("../img/video-mobile@1x.jpg") no-repeat center;
}
.video-block__description {
  .font(@size:13px;);
  font-size: 13px;
  line-height: 24px;
}
